@model IEnumerable<Gazi_BMT_308_Final.ViewModels.BookViewModel>

<h2>Kitaplar</h2>

<form asp-controller="Books" asp-action="Index" method="get">
    <div class="form-group">
        <input type="text" class="form-control" id="SearchString" name="SearchString" placeholder="Kitap veya Yazar adı ile ara">
        <button type="submit" class="btn btn-primary">Ara</button>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Başlık</th>
            <th>Yazar</th>
            <th>Yayım Yılı</th>
            <th>İşlemler</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var bookViewModel in Model)
        {
            <tr>
                <td>@bookViewModel.Book.Id</td>
                <td>@bookViewModel.Book.Title</td>
                <td>@bookViewModel.Book.Author</td>
                <td>@bookViewModel.Book.PublicationYear</td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-controller="Books" asp-route-id="@bookViewModel.Book.Id" class="btn btn-warning">Düzenle</a>
                        <a asp-action="Delete" asp-controller="Books" asp-route-id="@bookViewModel.Book.Id" class="btn btn-danger">Sil</a>
                    }
                    @if (!bookViewModel.IsBorrowed)
                    {
                        <a asp-action="BorrowBook" asp-controller="Books" asp-route-id="@bookViewModel.Book.Id" class="btn btn-primary">Ödünç Al</a>
                    }
                    else
                    {
                        <a asp-action="ReturnBook" asp-controller="Books" asp-route-id="@bookViewModel.Book.Id" class="btn btn-info">İade Et</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

